*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #0C122C;
}
.nav_bg{
    position: absolute;
}
.logo{
    position: absolute;
    margin: 22px 46px;
}   
.nav{
    position: absolute;
    display: inline-flex;
    margin-left: 75%;
    margin-top: 35px;
    font-family: "Extendo Sans";
    font-size: 10px;
    font-weight: 200;
}
li a{
    text-decoration: none;
    color: white;
}
.pro{
    padding-right: 50px;
}
.nav li{
    list-style-type: none;
}
.nav li a{
    transition: all 0.3s ease 0s;
}
.nav li a:hover{
    color: rgb(154, 218, 255);
}
.nav_li{
    font-family: "Extendo Sans";
    font-size: 11px;
    text-align: center;
}
.nav_li li{
    list-style: none;
}
.home{
    position: absolute;
    margin: 200px 0px 0px 45px;
}
.home a{
    transition: all 0.3s ease 0s;
}
.home a:hover{
    color: rgb(154, 218, 255);
}
.work{
    position: absolute;
    margin: 330px 0px 0px 40px;
}
.work a{
    transition: all 0.3s ease 0s;
}
.work a:hover{
    color: rgb(154, 218, 255);
}
.blog{
    position: absolute;
    margin: 460px 0px 0px 40px;
}
.blog a{
    transition: all 0.3s ease 0s;
}
.blog a:hover{
    color: rgb(154, 218, 255);
}
.hire{
    position: absolute;
    margin: 590px 0px 0px 40px;
}
.hire a{
    transition: all 0.3s ease 0s;
}
.hire a:hover{
    color: rgb(154, 218, 255);
}   
.text{
    font-family: "Extendo Sans";
    color: white;
    margin: 140px 0px 0px 220px;
    position: absolute;
    font-size: 30px;
    font-weight: lighter;
    text-transform: uppercase;
}
.ele{
    position: absolute;
    margin-left: 52%;
    width: 26%;
    margin-top: 15%;
}
.text1{
    margin-top: 40px;
    position: absolute;
    text-transform: uppercase;
}
.code{
    font-size: 17px;
    font-weight: 400;
    padding-bottom: 8px;
}
.pr1{
    font-size: 12px;
    font-weight: 100;
}
.text2{
    position: absolute;
    margin-left: 35%;
    margin-top: 37px;
    text-transform: uppercase;
}
.fgd{
    font-size: 17px;
    font-weight: 400;
    padding-bottom: 8px;
}
.pr2{
    font-size: 10px;
    font-weight: 100;
}
.text3{
    position: absolute;
    margin-top: 120px;
    text-transform: uppercase;
}
.graphic{
    font-size: 17px;
    font-weight: 400;
    padding-bottom: 8px;
}
.pr3{
    font-size: 10px;
    font-weight: 100;
}
.header1 {
    text-align: center;
    padding: 32px;
}  
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    padding: 0 4px;
}
  
  .column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }